.budy {
  width: 220vh;
  height: 100vh;
  background-color: cornflowerblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcm {
  width: 30%;
  height: 40%;
  background-color: rgb(39, 84, 166);
  display: flex;
  justify-content: center;
  align-items: center;
}
